*{
    background: #E5E5E5;
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
}




.logo{
    position: absolute;
    width: 120px;
    top: 40px;    
    left: 40px;
    height: 48px;   
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 70px;
    width: 70%;
    box-sizing: border-box;

}

.entrartexto1{
    border: none;
    text-transform: lowercase;
    margin-top: 90px;
    color: #0A3871;
    height: 50%;
    width: auto;
    outline: none;
   
}

::placeholder {
    color: #0A3871;   
  } 

.entrartexto2{
    background: white;
    background-image: url(Imagenes/muneco.png);
    background-repeat: no-repeat; 
    background-position-y: 55%;  

    border: none;
    border-radius: 24px; 
    color: #0A3871;
    margin-left: 18px;
    margin-top: 20px;
    /*padding-left: 20px;*/
    position: fixed;
    height: 50%;
    width: auto; 
    outline: none;
}

  .informacion{
    color: #495057;
    font-size: 15px;
    position: absolute;
    top: 70%;
}
.informacion::before{
    content: "⚠"; 
    margin: 0 0.5em 0 0;
}

.botones{
    display: flex;
    margin-top: 30%;
   
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 40%;
    margin-top: 15%;
    transition: 1s all;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    margin-left: 30px;
    margin-top: 15%;
    width: 40%;
    transition: 1s all;
    cursor: pointer;

}

 .btn-encriptar:hover {
    background: #0A3871;
    transform: scale(1.1);
}
.btn-desencriptar:hover, .btn-copiar:hover, .btn-pegar:hover{
    background: #bbc2c9;
    transform: scale(1.1);
}



.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    
    margin-top: 36%;
    transition: 1s all;
    cursor: pointer;
    position: absolute;
    width: 8%;
}
.btn-pegar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    margin-left: 9%;
    margin-top: 36%;
    transition: 1s all;
    cursor: pointer;
    position: absolute;
    width: 8%;
}

.copyright {
    color: #495057;
    font-size: 15px;
    margin: 5px;

    position: absolute;
    width: 15%;
    top: 850px;
    left: 300px;
    height: 20px;
    font-family: 'Prompt', sans-serif;
}


@media screen and (max-width: 480px) {
*{
    width: 100%;
    font-size: 17px;
}
.logo{
    margin-left: -18%;
}

.btn-encriptar {
    width: auto;
    margin-top: 28%;
    margin-left: -30%;
    
}

.btn-desencriptar{
    width: auto;
    margin-top: 28%;
    margin-left: 3%;
}
.entrartexto1{
    width: 60%;
    margin-left: -30%;
    height: auto;
    
}
.entrartexto2{  
    left: 43%;
    width: 50%;
    height: 48%; 
    background-position-x: -88px;   
    background-position-y: 30px; 
    border-radius: 10px; 
}
.btn-copiar{
    width: auto;
    left: 62%;
    top: 40.5%;
}
.btn-pegar{
    width: auto;
    left: 73%;
    top: 40.5%;
}
.informacion{
    top: auto ;
    left: 10%;    
    width: auto;
}

.copyright{
    top: auto;
    height: auto;
    left: 10%;
    width: auto;
}

@media screen and (max-width: 520px){
    .entrartexto2{
        height: 35%; 
    }
}
      
} 